<div class="bg">
</div>
<div class="account">
    <div class="account_header">
        <p>Регистрация</p>
        <i class="close">close</i>
    </div>
    <div class="account_middle">
        <form>

        </form>
    </div>
    <div class="account_footer">

    </div>
</div>

