<div class="awards_section">
    <div class="award">
        <h2>Оскар</h2>
        <span class="year">1998</span>
        <div class="winner">
            <h3>Победитель</h3>
            <ul>
                <li>Лучшие визуальные эффекты</li>
                <li>Лучший монтаж звука</li>
                <li>Лучший монтаж</li>
                <li>Лучший звук</li>
                <li>Лучшие костюмы</li>
                <li>Лучшие декорации</li>
                <li>Лучшая работа оператора</li>
                <li>Лучший режиссер (Джеймс Кэмерон)</li>
                <li>Лучший фильм</li>
                <li>Лучший саундтрек к драматическому фильму</li>
                <li>Лучшая песня</li>
            </ul>
        </div>
    </div>
    <div class="award">
        <h2>Премия канала «MTV»</h2>
        <span class="year">1998</span>
        <div class="winner">
            <h3>Победитель</h3>
            <ul>
                <li>Лучшая мужская роль (Леонардо ДиКаприо)</li>
                <li>Лучший фильм</li>
            </ul>
        </div>
    </div>
    <div class="award">
        <h2>Британская академия</h2>
        <span class="year">1998</span>
        <div class="nominations">
            <h3>Номинации</h3>
            <ul>
                <li>Премия имени Дэвида Лина за достижения в режиссуре (Джеймс Кэмерон)</li>
                <li>Лучшая работа художника-постановщика</li>
                <li>Лучший грим/прически</li>
                <li>Лучший монтаж</li>
                <li>Лучший звук</li>
                <li>Лучшие костюмы</li>
                <li>Лучшая работа оператора</li>
                <li>Лучший фильм</li>
                <li>Лучшие визуальные эффекты</li>
                <li>Премия имени Энтони Эскуита за достижения в создании музыки к фильму</li>
            </ul>
        </div>
    </div>
    <div class="award">
        <h2>Сатурн</h2>
        <span class="year">1998</span>
        <div class="winner">
            <h3>Победитель</h3>
            <ul>
                <li>Лучшая актриса второго плана (Глория Стюарт)</li>
            </ul>
        </div>
        <div class="nominations">
            <h3>Номинации</h3>
            <ul>
                <li>Лучшее DVD-издание классического фильма</li>
            </ul>
        </div>
    </div>
    <div class="award">
        <h2>Золотой глобус</h2>
        <span class="year">1998</span>
        <div class="winner">
            <h3>Победитель</h3>
            <ul>
                <li>Лучший саундтрек</li>
                <li>Лучший фильм (драма)</li>
                <li>Лучший режиссер (Джеймс Кэмерон)</li>
                <li>Лучшая песня</li>
            </ul>
        </div>
    </div>
    <div class="award">
        <h2>Сезар</h2>
        <span class="year">1999</span>
        <div class="nominations">
            <h3>Номинации</h3>
            <ul>
                <li>Лучший фильм на иностранном языке</li>
            </ul>
        </div>
    </div>
    <div class="award last">
        <h2>Европейская киноакадемия</h2>
        <span class="year">1998</span>
        <div class="winner">
            <h3>Победитель</h3>
            <ul>
                <li>Приз зрительских симпатий за лучшую женскую роль (Кейт Уинслет)</li>
            </ul>
        </div>
    </div>
</div>