@{
    ViewBag.Title = "Фильмы";
}

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Slaider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PopupMenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Category.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
}

<div class="category_name">
    <h1>Фильмы</h1>
</div>
<div class="advenced-search">
    <ul>
        <li class="filter"><a>Фильтр</a><i></i></li>
        <li><a>Популярные</a></li>
        <li><a>Рекомендации</a></li>
        <li><a>По рейтингу кинопоиска</a></li>
        <li><a>По рейтингу IMDb</a></li>
        <li><a>По рейтингу Megogo</a></li>
    </ul>
</div>

<div class="sliding_div">
    <div class="div_control">
        <span id="genre">Жанр</span>
        <span id="genre_choice">любой<i></i></span>


        <span id="year">Год</span>
        <span class="year_select">2015<i></i></span>
        <span class="defis">-</span>
        <span class="year_select">2015<i></i></span>

        <span id="raiting">Рейтинг</span>
        <span id="raiting_criteria">MEGOGO<i></i></span>
        <span class="raiting_ratio">5.6<i></i></span>
        <span class="defis">-</span>
        <span class="raiting_ratio">7.8<i></i></span>
    </div>
    <div id="genre_list">
        <ul id="genres">
            <li>Любой</li>
            <li>Военные</li>
            <li>Детский</li>
            <li>Зарубежные</li>
            <li>Короткометражные</li>
            <li>Мюзиклы</li>
            <li>Спортивные</li>
            <li>Фантастика</li>
        </ul>
        <ul id="genres2">
            <li>Любой</li>
            <li>Военные</li>
            <li>Детский</li>
            <li>Зарубежные</li>
            <li>Хай-фай</li>
            <li>Мюзиклы</li>
            <li>Спортивные</li>
            <li>Фантастика</li>
        </ul>
        <ul id="genres3">
            <li>Любой</li>
            <li>Военные</li>
            <li>Детский</li>
            <li>Зарубежные</li>
            <li>Порево</li>
            <li>Мюзиклы</li>
            <li>Спортивные</li>
            <li>Фантастика</li>
        </ul>
    </div>
</div>

<div class="category_content">
    @for (int i = 0; i < 3; i++)
    {
        <div class="post" style="border: none;">
            <div class="slider-inner">
                <div class="post_images">
                    <div class="post_image 1">
                        <div class="image">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        </div>
                        <span class="movie-name">Дневник девочки-подростка</span>
                        <br>
                        <span class="year-country">2016, США</span>
                        <br>
                        <span class="genres">Боевик, Комедия, Триллер</span>
                        <a href="~/Genre/Details"></a>
                    </div>
                    <div class="post_image 2">
                        <div class="image">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        </div>
                        <span class="movie-name">Дневник девочки-подростка</span>
                        <br>
                        <span class="year-country">2016, США</span>
                        <br>
                        <span class="genres">Боевик, Комедия, Триллер</span>
                        <a href="~/Genre/Details"></a>
                    </div>
                    <div class="post_image 3">
                        <div class="image">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        </div>
                        <span class="movie-name">Дневник девочки-подростка</span>
                        <br>
                        <span class="year-country">2016, США</span>
                        <br>
                        <span class="genres">Боевик, Комедия, Триллер</span>
                        <a href="~/Genre/Details"></a>
                    </div>
                    <div class="post_image 4">
                        <div class="image">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        </div>
                        <span class="movie-name">Дневник девочки-подростка</span>
                        <br>
                        <span class="year-country">2016, США</span>
                        <br>
                        <span class="genres">Боевик, Комедия, Триллер</span>
                        <a href="~/Genre/Details"></a>
                    </div>
                    <div class="post_image 5">
                        <div class="image">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        </div>
                        <span class="movie-name">Дневник девочки-подростка</span>
                        <br>
                        <span class="year-country">2016, США</span>
                        <br>
                        <span class="genres">Боевик, Комедия, Триллер</span>
                        <a href="~/Genre/Details"></a>
                    </div>
                    <div class="post_image 6 last">
                        <div class="image">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        </div>
                        <span class="movie-name">Дневник девочки-подростка</span>
                        <br>
                        <span class="year-country">2016, США</span>
                        <br>
                        <span class="genres">Боевик, Комедия, Триллер</span>
                        <a href="~/Genre/Details"></a>
                    </div>
                </div>
            </div>

            <div class="popup-wrapper">
                <div class="popup-inner">
                    <div class="story-text">
                        Короткометражный мультик Disney, созданный по мотивам суперхита «Холодное сердце». В день рождения Анны Эльза решает сделать сестре сюрприз. Но устроить праздник оказывается не так-то просто.
                    </div>
                    <div class="ratings">
                        <div class="views">
                            <span>77,147,958</span>
                        </div>
                        <div class="ratings-bar">
                            <div class="bar-likes" style="width: 60.113603%;"></div>
                            <div class="bar-dislikes" style="width: 39.886397%;"></div>
                        </div>
                        <div class="ratings-btn">
                            <button type="button" class="btn-like">
                                <i></i>
                                <span class="value">14215</span>
                            </button>
                            <button type="button" class="btn-dislike">
                                <i></i>
                                <span class="value">2394</span>
                            </button>
                        </div>
                        <div class="external-rating">
                            <span class="rating-name">
                                КиноПоиск:
                            </span>
                            <span class="value">
                                6.7
                            </span>
                            <span class="rating-name last">
                                IMDb:
                            </span>
                            <span class="value">
                                7.4
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-triangle">
                <div class="inner"></div>
            </div>
        </div>
    }
</div>

<script>
    $('.filter').mouseover(function () {
        $('.sliding_div').show();
    })

    $('.sliding_div').mouseover(function () {
        $('.sliding_div').show();
    })

    $('.filter').mouseout(function () {
        $('.sliding_div').hide();
    })

    $('.sliding_div').mouseout(function () {
        $('.sliding_div').hide();
    })

    $('#genre_choice').mouseover(function () {
        $('#genre_list').show();
    })
</script>

