@{
    ViewBag.Title = "Боевики";
}

@section Slaider {
    <div id="HeadSlaider" class="head_slaider carousel slide">
        <a class="left carousel-control" href="#HeadSlaider" data-slide="prev">
            <img class="left_row" src="~/Images/left_row_slider.png" />
        </a>

        <div class="carousel-inner">
            <img class="slider-image item active" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
        </div>

        <a class="right carousel-control" href="#HeadSlaider" data-slide="next">
            <img class="right_row" src="~/Images/right_row_slider.png" />
        </a>
    </div>
}

<h1>Боевики</h1>

<select>
    <option>Отсортировать так</option>
    <option>Отсортировать сяк</option>
    <option>Отсортировать вот так</option>
    <option>Хуц</option>
</select>
<div>
    <ul id="element_list">
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
        </li>
    </ul>
</div>