@{
    ViewBag.Title = "Боевики";
}

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Slaider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PopupMenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Category.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}

@*@section Slaider {
    <div id="HeadSlaider" class="head_slaider carousel slide">
        <a class="left carousel-control" href="#HeadSlaider" data-slide="prev">
            <img class="left_row" src="~/Images/left_row_slider.png" />
        </a>

        <div class="carousel-inner">
            <img class="slider-image item active" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
        </div>

        <a class="right carousel-control" href="#HeadSlaider" data-slide="next">
            <img class="right_row" src="~/Images/right_row_slider.png" />
        </a>
    </div>
    <script>
        $(document).ready(function () {
            $('#HeadSlaider').carousel({ interval: 3000 });
        });
    </script>
}*@

<h1>Боевики</h1>

<div class="track">
    <ul>
        <li><a href="#">Фильмы</a>/</li>
        <li><a href="#">Боевики</a></li>
    </ul>
</div>

<select style="margin-bottom:20px;">
    <option>По рейтингу</option>
    <option>По дате</option>
    <option>По популярности</option>
    <option>По хуй</option>
</select>
<div>
    <div class="category_content">
        <div class="category_films">
            <div class="post_image 1">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 2">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 3">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 4">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 5">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 6">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>


            <div class="post_image 1">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 2">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 3">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 4">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 5">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 6">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>


            <div class="post_image 1">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 2">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 3">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 4">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 5">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 6">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>


            <div class="post_image 1">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 2">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 3">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 4">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 5">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>
            <div class="post_image 6">
                <div class="image">
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                </div>
                <span class="movie-name">Дневник девочки-подростка</span>
                <br>
                <span class="year-country">2016, США</span>
                <br>
                <span class="genres">Боевик, Комедия, Триллер</span>
                <a href="~/Genre/Details"></a>
            </div>


            <div class="popup-wrapper top right">
                <div class="popup-inner">
                    <div class="story-text">
                        Короткометражный мультик Disney, созданный по мотивам суперхита «Холодное сердце». В день рождения Анны Эльза решает сделать сестре сюрприз. Но устроить праздник оказывается не так-то просто.
                    </div>
                    <div class="ratings">
                        <div class="views">
                            <span>77,147,958</span>
                        </div>
                        <div class="ratings-bar">
                            <div class="bar-likes" style="width: 60.113603%;"></div>
                            <div class="bar-dislikes" style="width: 39.886397%;"></div>
                        </div>
                        <div class="ratings-btn">
                            <button type="button" class="btn-like">
                                <i></i>
                                <span class="value">14215</span>
                            </button>
                            <button type="button" class="btn-dislike">
                                <i></i>
                                <span class="value">2394</span>
                            </button>
                        </div>
                        <div class="external-rating">
                            <span class="rating-name">
                                КиноПоиск:
                            </span>
                            <span class="value">
                                6.7
                            </span>
                            <span class="rating-name last">
                                IMDb:
                            </span>
                            <span class="value">
                                7.4
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-triangle">
                <div class="inner"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.post_image').hover(function () {
        var popup = $(this).parents().children('.popup-wrapper');

        alert(popup);
    })
</script>