@{
    ViewBag.Title = "Боевики";
}

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Slaider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PopupMenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}

@section Slaider {
    <div id="HeadSlaider" class="head_slaider carousel slide">
        <a class="left carousel-control" href="#HeadSlaider" data-slide="prev">
            <img class="left_row" src="~/Images/left_row_slider.png" />
        </a>

        <div class="carousel-inner">
            <img class="slider-image item active" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
        </div>

        <a class="right carousel-control" href="#HeadSlaider" data-slide="next">
            <img class="right_row" src="~/Images/right_row_slider.png" />
        </a>
    </div>
}

<h1>Боевики</h1>

<select style="margin-bottom:20px;">
    <option>Отсортировать так</option>
    <option>Отсортировать сяк</option>
    <option>Отсортировать вот так</option>
    <option>Хуц</option>
</select>
<div>
    <ul id="element_list">
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
        <li>
           <img src="~/Images/dnevnikdevochkipodrostka.jpg" /><br />
           <span>Дневник Девочки-Подростка</span>
        </li>
    </ul>
</div>