<div class="comment_section">
    <div class="comment_form">
        <textarea placeholder="Оставить отзыв"></textarea>
        <div class="comment_button">
            <div class="total_simbols">
                Осталось символов: <span>490</span>
            </div>
            <button type="submit" class="button">Отправить</button>
        </div>
    </div>
    <div class="comments_container">
        <ul>
            @for(int i = 0; i < 3; i++)
            {
            <li>
                <div class="user">
                    <img src="http://st.kp.yandex.net/images/users/bsm_3283237-21-276889.jpg">
                    <a class="nick">JoraCardanovsky</a>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                </div>
                <div class="comment_body">Фильмец ном , на разок сойдет</div>
            </li>
            <li class="answer_1">
                <div class="user">
                    <img src="http://st.kp.yandex.net/images/users/bsm_3283237-21-276889.jpg">
                    <a class="nick">VaneaCaban</a>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                </div>
                <div class="comment_body">Отстой, даже не смотрел, фильм для педиков</div>
            </li>
            <li class="answer_2">
                <div class="user">
                    <img src="http://st.kp.yandex.net/images/users/bsm_3283237-21-276889.jpg">
                    <a class="nick">VaneaCaban</a>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                </div>
                <div class="comment_body">Отстой, даже не смотрел, фильм для педиков</div>
            </li>
            <li>
                <div class="user">
                    <img src="http://st.kp.yandex.net/images/users/bsm_3283237-21-276889.jpg">
                    <a class="nick">LiuseaSniper</a>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                </div>
                <div class="comment_body">Фильмец ном , на разок сойдет</div>
            </li>
            }
        </ul>
    </div>
    <div class="more_comments">
        <h5>Показать еще</h5>
    </div>
</div>
<script>
    $('.comment_form textarea').focus(function () {
        $(this).css('height', '120px');
        $('.comments_container').css('margin-top', '60px');
        $('.comment_button').show();
    });

    $('.comment_form textarea').focusout(function () {
        if ($(this).val() == "") {
            $(this).css('height', '40px');
            $('.comments_container').css('margin-top', '30px');
            $('.comment_button').hide();
        }
    });
</script>
