<div class="creators_section">
    <div class="directors">
        <h2>Режиссеры</h2>
        <ul>
            <li>Роберт Родригес</li>
        </ul>
    </div>
    <div class="actors">
        <h2>Актеры</h2>
        <ul>
            <li><a>Джессика Альба</a></li>
            <li>Джоэль МакХэйл</li>
            <li>Алекса Вега</li>
            <li>Дэрил Сабара</li>
            <li>Роуэн Бланчард</li>
            <li>Мэйсон Кук</li>
            <li>Джереми Пивен</li>
            <li>Дэнни Трехо</li>
            <li>Белль Солорзано</li>
            <li>Дженни Солорзано</li>
            <li>Рики Джервэйс</li>
            <li>Эльмо</li>
            <li>Джетт Гуд</li>
            <li>Чак Кьюро</li>
            <li>Альберт Им</li>
            <li>Рэй Кроуфорд</li>
            <li>Джонатан Брек</li>
            <li>Алькидес Диас</li>
            <li>Роджер Эдвардс</li>
            <li>Анджела Ланца</li>
        </ul>
    </div>
    <div class="producers">
        <h2>Продюсеры</h2>
        <ul>
            <li>Элизабет Авеллан</li>
            <li>Роберт Родригес</li>
            <li>Джордж Хуанг</li>
            <li>Том Пропер</li>
            <li>Ребекка Родригез</li>
        </ul>
    </div>
    <div class="writers">
        <h2>Сценаристы</h2>
        <ul>
            <li>Роберт Родригес</li>
        </ul>
    </div>
    <div class="composers">
        <h2>Композиторы</h2>
        <ul>
            <li>Роберт Родригес</li>
            <li>Карл Тиль</li>
        </ul>
    </div>
    <div class="operators">
        <h2>Операторы</h2>
        <ul>
            <li>Джимми Линдси</li>
            <li>Роберт Родригес</li>
        </ul>
    </div>
</div>