<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
       <div class="track">
         <ul>
            <li><a href="#">Фильмы</a>  /</li>
            <li><a href="#">Боевики</a>  /</li>
            <li><a href="#">Дневник Девочки-Подростка</a>  /</li>
            <li>Описание</li>
         </ul>
       </div>
       <section>
            <div class="details_title">
            <h1>Дневник Девочки-Подростка</h1>
            </div>
       </section>
       <section style="margin-top: 10px; overflow: hidden;">
            <aside class="aside_img"style="width:281px; float:left; margin-left:50px;">
            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
            </aside>
            <article style="float:left;width:750px;">
            <div id="details_article">
                    <ul>
                       <li>2015</li>
                       <li>США</li>
                       <li>Боевик</li>
                       <li><span class="feature" title="Видео доступно в HD-качестве">HD</span></li>
                       <li style="margin-right:1px"><span class="feature" content="2015">16+</span></li>
                    </ul>
            </div>
              
            <div class="raitings">
              <dt>
                <a href="#"><img src="~/Images/imdb-icon.png"/></a>
              </dt>
              <dd>
                  6.7
              </dd>
              <dt>
                <a href="#"><img src="~/Images/kinopoisk-icon.png"/></a>
              </dt>
              <dd>
                7.4
              </dd>
            </div><br />
            <div id="watch_but">
                <ul>
                    <li><a href="#"><h3 style="color:white; border:1px solid white; border-radius: 6px; padding: 5px; width:145px; margin-left:40px; ">СМОТРЕТЬ</h3></a></li>
                    <li><a href="#"><h3 style="color:white; border:1px solid white; border-radius: 6px; padding: 5px; width:145px; margin-left:40px; ">ТРЕЙЛЕР</h3></a></li>
                </ul>
            </div>

            <br />

            <div class="directors">
               <dt>Режиссеры:</dt>
                <dd>Жора Петровский,Люся Бтр</dd>
               <dt>В ролях:</dt>
                <dd>Жора Кардан, Майкл Джексон</dd>
            </div>
            <div class="description">
               <p>
                   Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                   laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                   architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                   sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                   voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                   consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                   magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                   corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                   reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                   eum fugiat quo voluptas nulla pariatur
               </p>
            </div>
            </article>
       </section>
        <div class="recommendations">
         <div class="name">
    <a href="#">Рекоммендации</a>
</div>
<div id="PostSlaider_1" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_1" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_1" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
        </div>       
    </div>
       <div class="comment_section">
            <h3 style="color:white;">Отзывы о фильме</h3>

            <div class="users_comment">
                <p style="padding:5px; color:#d1d1d1">Оставить свое жалкое мнение, которое никого не интересует</p>
            </div>
            <div class="comments" style="margin-top:30px; overflow: hidden;">
                <ul style="list-style: none;">
                  <li>
                    <div class="nick">JoraCardanovsky</div><br />
                    <div class="comment_body" style="padding: 5px; margin-top: -10px;color: white; text-align: center;">Фильмец ном , на разок сойдет</div>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                  </li>
                  <li>
                    <div class="nick">VaneaCaban</div><br />
                    <div class="comment_body" style="padding: 5px; margin-top: -10px;color: white; text-align: center;">Отстой, даже не смотрел, фильм для педиков</div>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                  </li>
                  <li>
                    <div class="nick">LiuseaSniper</div><br />
                    <div class="comment_body" style="padding: 5px; margin-top: -10px;color: white; text-align: center;">Фильмец ном , на разок сойдет</div>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                  </li>
                </ul>
            </div>
             <div class="more_comments">
                <h5 style="text-align: center;">Показать еще</h5>
             </div>
       </div>
</body>
</html>
