@{
    ViewBag.Title = "Название фильма";
}

@section Styles{
    <link href="~/Content/Films.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Player.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Details.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Player.js"></script>
}

@section Player {
    @Html.Partial("~/Views/Genre/Player.cshtml", "/Video/GESAFFELSTEIN-PURSUIT.mp4")
}

<div class="track">
    <ul>
        <li><a href="#">Фильмы</a>/</li>
        <li><a href="#">Боевики</a>/</li>
        <li><a href="#">Акулосьминог против Китоволка</a></li>
    </ul>
</div>

<ul class="movie_menu">
    <li class="description active">Описание</li>
    <li class="comments">Отзывы</li>
    <li class="reviews">Рецензии</li>
    <li class="trailers">Трейлеры</li>
    <li class="creators">Создатели</li>
    <li>Обои</li>
    <li>Награды</li>
    <li>Кадры</li>
</ul>
<div class="post">
    <div class="left_section">
        @Html.Partial("~/Views/Genre/Description.cshtml")
    </div>
    <div class="right_section">
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
    </div>
</div>
<script>
    $('.movie_menu li').click(function () {
        switch ($(this).attr('class')) {
            case 'description': {
                $.ajax({
                    url: '/Genre/Description/',
                    success: function (data) {
                        $('.left_section').html(data);
                    }
                });
                break;
            }
            case 'comments': {
                $.ajax({
                    url: '/Genre/Comments/',
                    success: function (data) {
                        $('.left_section').html(data);
                    }
                });
                break;
            }
            case 'reviews': {
                $.ajax({
                    url: '/Genre/Reviews/',
                    success: function (data) {
                        $('.left_section').html(data);
                    }
                });
                break;
            }
            case 'creators': {
                $.ajax({
                    url: '/Genre/Creators/',
                    success: function (data) {
                        $('.left_section').html(data);
                    }
                });
                break;
            }
            case 'trailers': {
                $.ajax({
                    url: '/Genre/Trailers/',
                    success: function (data) {
                        $('.left_section').html(data);
                    }
                });
                break;
            }
        }

        $(this).parent().children('.active').removeClass('active');
        $(this).addClass('active');

        if ($(this).hasClass('on_review')) {
            $.ajax({
                url: '/Genre/Reviews/',
                success: function (data) {
                    $('.left_section').html(data);
                }
            });

            $(this).removeClass('on_review');
        }
    });
</script>
