@{
    ViewBag.Title = "Фильмы";
}

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HeadSlaider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Slaider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PopupMenu.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Slaider.js"></script>
}

@for (int i = 0; i < 6; i++)
{
    <div class="name">
        @Html.ActionLink("Фильмы", "Index", "Genre")
    </div>
    <div class="post slaider" timer="" slide="false" hover="false">

        <a class="left slider-control" onclick="OnLeftClick(this)">
            <i class="left-side-arrow"></i>
        </a>

        <div class="slider-inner">
            @for (int j = 0; j < 3; j++)
            {
                if (j != 0)
                {
                    <div class="post_images item">
                        <div class="post_image 1">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 2">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 3">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 4">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 5">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 6 last">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="post_images item active">
                        <div class="post_image 1">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 2">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 3">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 4">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 5">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                        <div class="post_image 6 last">
                            <div class="image">
                                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            </div>
                            <span class="movie-name">Дневник девочки-подростка</span>
                            <br>
                            <span class="year-country">2016, США</span>
                            <br>
                            <span class="genres">Боевик, Комедия, Триллер</span>
                            <a href="~/Genre/Details"></a>
                        </div>
                    </div>
                }
            }
        </div>

        <a class="right slider-control" onclick="OnRightClick(this)">
            <i class="right-side-arrow"></i>
        </a>
        <div class="popup-wrapper">
            <div class="popup-inner">
                <div class="story-text">
                    Короткометражный мультик Disney, созданный по мотивам суперхита «Холодное сердце». В день рождения Анны Эльза решает сделать сестре сюрприз. Но устроить праздник оказывается не так-то просто.
                </div>
                <div class="ratings">
                    <div class="views">
                        <span>77,147,958</span>
                    </div>
                    <div class="ratings-bar">
                        <div class="bar-likes" style="width: 60.113603%;"></div>
                        <div class="bar-dislikes" style="width: 39.886397%;"></div>
                    </div>
                    <div class="ratings-btn">
                        <button type="button" class="btn-like">
                            <i></i>
                            <span class="value">14215</span>
                        </button>
                        <button type="button" class="btn-dislike">
                            <i></i>
                            <span class="value">2394</span>
                        </button>
                    </div>
                    <div class="external-rating">
                        <span class="rating-name">
                            КиноПоиск:
                        </span>
                        <span class="value">
                            6.7
                        </span>
                        <span class="rating-name last">
                            IMDb:
                        </span>
                        <span class="value">
                            7.4
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-triangle">
            <div class="inner"></div>
        </div>
    </div>
}
