@model string

<div id="Player" ondblclick="PlayerDoubleClick(this)" onmousemove="PlayerMouseMove(this)">
    <video id="video" src="@Model" preload="none"
           onloadeddata="OnLoadedMetaData(this)" onplay="OnPlay(this)"
           onpause="OnPause(this)" ontimeupdate="OnTimeUpdate(this)"
           onprogress="OnProgress(this)" onended="OnEnded(this)"></video>
    <div class="controls" trigger="0" timer="" timeout="3">
        <div class="time_line" onmousemove="MouseOnTimeLine(this)" onmouseout="MouseLeaveTimeLine(this)" onclick="TimeLineClick(this)">
            <span class="loaded"></span>
            <span class="current"></span>
            <div class="time_hover" metadata="0">
                <span>
                    <span class="hours">0</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
                </span>
                <div class="triangle">
                </div>
            </div>
        </div>
        <div class="play" onclick="OnPlayClick(this)">
        </div>
        <div class="volume" volume="100" timeout="" onclick="VolumeClick(this)" onmouseover="VolumeHover(this)" onmouseout="VolumeUnHover(this)">
        </div>
        <div class="volume_outer" onmouseover="VolumeOuterHover(this)" onmouseout="VolumeOuterUnHover(this)">
            <div class="volume_inner">
            </div>
        </div>
        <div class="movie_time">
            <span class="current_time">
                <span class="hours">0</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
            </span>
            /
            <span class="duration">
                <span class="hours">0</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
            </span>
        </div>
        <div class="fullscreen_btn enterFullscreen" onclick="FullscreenButtonClick(this)">
        </div>
    </div>
</div>
<script>
    $(".volume_outer").slider({
        orientation: "horizontal",
        min: 0,
        max: 100,
        value: 100,
        range: "min",
        animate: true,
        slide: function (event, ui) {
            var video = $(this).parents('#Player').children('video').get(0);
            video.muted = false;
            video.volume = (ui.value / 100);

            if (ui.value > 66) {
                $(this).parents('#Player').find('.volume').attr('id', 'volume_100');
            }
            else if (ui.value > 33) {
                $(this).parents('#Player').find('.volume').attr('id', 'volume_66');
            }
            else if (ui.value > 0) {
                $(this).parents('#Player').find('.volume').attr('id', 'volume_33');
            }
            else {
                $(this).parents('#Player').find('.volume').attr('id', 'muted');
            }

            $(this).parents('#Player').find('.volume').attr('volume', ui.value);
        }
    });
</script>
