<div class="reviews_section">
    <h1>Смех и грех от героя в красном костюме.</h1>
    <div class="review_user">

    </div>
    <div class="review_rating">
        Оценка фильма: <span>3 из 10</span>
    </div>
    <div class="review_container">

    </div>
    <div class="review_time">

    </div>
</div>