<div class="review">
    <h1>Смех и грех от героя в красном костюме.</h1>
    <div class="review_user">
        <img src="http://st.kp.yandex.net/images/users/bsm_3283237-21-276889.jpg">
        <a class="user_name">aramis21</a>
        <div class="review_time">
            3 ФЕВРАЛЯ 2016
        </div>
    </div>
    <div class="review_container">
        Удивительно, но факт! Для Тима Миллера это стало дебютной работой над полнометражным проектом и как это примечательно успело уже завоевать сердца многих и создать колоссальный фурор вокруг себя. Учитывая то, что режиссер начинал с самого малого, а это с короткометражек, то он совершил просто кардинальный скачок. Возможно многие в курсе, что этот проект планировался ещё лет 11 назад, но всё никак не удавалось реализовать идею полноценно и были какие-то недопонимания и т. п. Но вот наконец настало это время и мы можем насладиться этой нетрадиционной и долгожданной картиной.
        <br>
        <br>
        Дэдпул оказался ярким примером того, каким ещё может быть кино от студии Marvel. Настолько эпотажным, взрывным и убойным во всех смыслах фильмом я давно не сталкивался. При условии, что бюджет относительно всех марвеловских картин значительно отличается, это не сделало его хуже, а наоборот выставило неким образцом и показало, что при малом капиталовложении можно снять очень бодрый и здравый фантастический боевик с отменным юмором (кстати, которому могут позавидовать большинство последних комедий). Да он здесь представлен в жёсткой форме возможно, но где бы вы ещё могли бы увидеть столь невообразимое сочетание сортирного, пошлого, обычного и другого разного юмора высмеивающего даже самого главного персонажа и актера, который не мог бы не порадовать? Это на самом деле поразительно и заставляет по-аплодировать человеку, который писал шутки к этому фильму.
        <br>
        <br>
        Скажу вам честно сюжет здесь вполне себе приемлемый, ну и наверно даже свойственный для такого рода фильмов. Но это ни чуть не ослабевает интерес к просмотру Дэдпула! А всё потому, что он дико приправлен остротой экшена и шквала приколов явно пронизанных в каждом эпизоде и заставляющих неустанно пребывать в смехотворном состоянии. Это достойно внимания и потраченного времени. Главное, что тут имеется пристальное переплетение с людьми Икс и это также не может не радовать, особенно заядлых фанатов. Тесная связь героя в красном одеянии и людей с фантастическим способностями наблюдается ещё с «Люди икс — Росомаха: Начало», а также в самой игре про Дэдпула. Приятно осознавать присутствие и наличие этих фактов и связей.
        <br>
        <br>
        Самое забавное, что в Дэдпуле делается акцент на многие моменты связанные с ролями самого актера, а некоторые вещи наталкивают на воспоминания… Я думаю многие обратят внимание на прочие вещи и детали. Намекать не стану, просто посмотрите и поймете. Не пожалейте своего времени ради получения такого удовольствия.
        <br>
        <br>
        По правде говоря это идеальная роль для Райна Рейнольдса, поскольку видно, что он очень хорошо держится в ней и чувствует себя легко и непринужденно. Его персонаж вопиющий и сразу запоминается своим поведением и его историей. Хорошо когда есть детальное описание персонажа, а оно ещё и грамотно преподнесено со всеми флэшбеками, которые присутствуют в данной картине. Выделять особо больше некого, пускай это решение принимают другие). А Райан молодец, пусть и дальше старается и показывает себя с лучшей стороны.
        <br>
        <br>
        Спасибо Тиму Миллеру, что смог вывести на экраны персонажа в забавном прикиде и с крайне сумасшедшими и в хорошем смысле мозг выносящими шуточками, чтобы повеселить народ на славу. Желаю ему дальнейших успехов и идей на ещё более крутые проекты. И пусть прогнозы окажутся находчивыми и стоящими в разы.
        <br>
        <br>
        Итог: Дэдпул — творение, которому будут рады многие, но не все (по понятным причинам и вкусам). И всё же это удачное и я бы даже сказал удавшееся кино, коих мало среди жанра комедийных боевиков в последнее время. А тут я хвалю за всё, даже если и в нём есть изъяны, то они стираются за счёт большей лучшей составляющей фильма от которой не заскучаешь ни на секунду. Естественно это не идеальное кино, но то, что оно подарит вам бурю эмоций и хорошее настроение, так это однозначно.
        <br>
        <br>
        Поэтому, слагая все плюсы воедино и премного возрадовавшись Марвелу как никогда, готов смело и осознано оценить сие произведение на…
        <br>
        <br>
        9 из 10
        <br>
        <br>
        P.S. В довесок хотелось бы сказать, что найдутся коронные фразы из Дэдпула, которые обязательно будут пользоваться спросом и внедряться в разные мемы и тому подобное. А сейчас в наше время это модно, круто и в какой-то степени высоко ценится. Поэтому успех растянется на долгое время и его ещё не раз будут вспоминать как один из лучших марвеловских фильмом даже через года!
    </div>
</div>
<div class="comment_section">
    <h3>Отзывы</h3>
    <div class="comment_form">
        <textarea placeholder="Оставить отзыв"></textarea>
    </div>
    <div class="comment_button">
        <div class="total_simbols">
            Осталось символов: <span>490</span>
        </div>
        <button type="submit" class="button">Отправить</button>
    </div>
    <div class="comments_container">
        <ul>
            <li>
                <div class="user">
                    <img src="http://st.kp.yandex.net/images/users/bsm_3283237-21-276889.jpg">
                    <a class="nick">JoraCardanovsky</a>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                </div>
                <div class="comment_body">Фильмец ном , на разок сойдет</div>
            </li>
            <li class="answer_1">
                <div class="user">
                    <img src="http://st.kp.yandex.net/images/users/bsm_3283237-21-276889.jpg">
                    <a class="nick">VaneaCaban</a>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                </div>
                <div class="comment_body">Отстой, даже не смотрел, фильм для педиков</div>
            </li>
            <li>
                <div class="user">
                    <img src="http://st.kp.yandex.net/images/users/bsm_3283237-21-276889.jpg">
                    <a class="nick">LiuseaSniper</a>
                    <div class="time_commented">3 ФЕВРАЛЯ 2016</div>
                </div>
                <div class="comment_body">Фильмец ном , на разок сойдет</div>
            </li>
        </ul>
    </div>
    <div class="more_comments">
        <h5 style="text-align: center;">Показать еще</h5>
    </div>
</div>
<script>
    $('.comment_form textarea').focus(function () {
        $(this).css('height', '120px');
        $('.comment_button').show();
    });

    $('.comment_form textarea').focusout(function () {
        if ($(this).val() == "") {
            $(this).css('height', '40px');
            $('.comment_button').hide();
        }
    });
</script>