<div class="trailers_section">
    <div class="trailer_details">
        <h2>Трейлер</h2>
    </div>
    <div class="trailer_video">
        @Html.Partial("~/Views/Genre/Player.cshtml")
    </div>
</div>