<div class="trailers_section">
    @for (int i = 0; i < 5; i++)
    {
        <div class="trailer_details">
            <h2>Трейлер</h2>
            <div class="views"></div>
            <div class="time_added">
                3 ФЕВРАЛЯ 2016
            </div>
        </div>
        @Html.Partial("~/Views/Genre/Player.cshtml", "http://www.w3schools.com/html/mov_bbb.mp4")

        if (i == 4)
        {
            <div class="hide_player_controls last"></div>
        }
        else
        {
            <div class="hide_player_controls"></div>
        }
    }
</div>