<div class="trailers_section">
    @for (int i = 0; i < 5; i++)
    {
        @Html.Partial("~/Views/Genre/Player.cshtml", "http://www.w3schools.com/html/mov_bbb.mp4")

        if (i == 4)
        {
            <div class="hide_player_controls last"></div>
            <div class="trailer_details last">
                <h2>Трейлер</h2>
                <div class="views"></div>
                <div class="time_added">
                    3 ФЕВРАЛЯ 2016
                </div>
            </div>
        }
        else
        {
            <div class="hide_player_controls"></div>
            <div class="trailer_details">
                <h2>Трейлер</h2>
                <div class="views"></div>
                <div class="time_added">
                    3 ФЕВРАЛЯ 2016
                </div>
            </div>
        }
    }
</div>