@{
    ViewBag.Title = "Index";
}

<div id="wrapper">
    <div id="header">
        <div class="head_menu">
            <ul>
                <li>
                    <a class="main_page">Главная</a>
                </li>
                <li>
                    <a class="films">Фильмы</a>
                    <div class="dropdown_menu">
                        <i class="triangle"></i>
                        <ul class="sub-nav-col">
                            <li><a href="#">Артхаус</a></li>
                            <li><a href="#">Боевики</a></li>
                            <li><a href="#">Военные</a></li>
                            <li><a href="#">Детективы</a></li>
                            <li><a href="#">Для детей</a></li>
                            <li><a href="#">Для всей семьи</a></li>
                            <li><a href="#">Документальные</a></li>
                            <li><a href="#">Драмы</a></li>
                            <li><a href="#">Зарубежные</a></li>
                            <li><a href="#">Исторические</a></li>
                            <li><a href="#">Комедии</a></li>
                            <li><a href="#">Мелодрамы</a></li>
                            <li><a href="#">Приключения</a></li>
                            <li><a href="#">Русские</a></li>
                            <li><a href="#">Советское кино</a></li>
                            <li><a href="#">Триллеры</a></li>
                            <li><a href="#">Ужасы</a></li>
                            <li><a href="#">Фантастика</a></li>
                            <li><a href="#">Эротика</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="mfilms">Мультфильмы</a>
                    <div class="dropdown_menu"></div>
                </li>
                <li>
                    <a class="serials">Сериалы</a>
                    <div class="dropdown_menu"></div>
                </li>
                <li>
                    <a class="news">Новости</a>
                    <div class="dropdown_menu"></div>
                </li>
                <li>
                    <a class="desk">Стол заказов</a>
                </li>
                <li>
                    <a class="contacts">Контакты</a>
                </li>
            </ul>
        </div>
        <div id="HeadSlaider" class="head_slaider carousel slide">
            <a class="left carousel-control" href="#HeadSlaider" data-slide="prev">
                <img class="left_row" src="~/Images/left_row_slider.png" />
            </a>

            <div class="carousel-inner">
                <img class="slider-image item active" src="~/Images/slider-image.jpg" />
                <img class="slider-image item" src="~/Images/slider-image.jpg" />
                <img class="slider-image item" src="~/Images/slider-image.jpg" />
            </div>

            <a class="right carousel-control" href="#HeadSlaider" data-slide="next">
                <img class="right_row" src="~/Images/right_row_slider.png" />
            </a>
        </div>
    </div>

    <div id="middle">
        <div class="content">
            <div class="name">
                <span>Фильмы</span>
            </div>
            <div id="PostSlaider_1" class="post carousel slide" data-interval="0">

                <a class="left carousel-control" href="#PostSlaider_1" data-slide="prev">
                    <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
                </a>

                <div class="carousel-inner">
                    <div class="post_images item active">
                        <div class="post_image 1">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 2">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 3">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 4">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 5">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                    </div>

                    <div class="post_images item">
                        <div class="post_image 1">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 2">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 3">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 4">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 5">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                    </div>
                </div>

                <a class="right carousel-control" href="#PostSlaider_1" data-slide="next">
                    <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
                </a>
            </div>

            <div class="name">
                <span>Мультфильмы</span>
            </div>
            <div id="PostSlaider_2" class="post carousel slide" data-interval="0">

                <a class="left carousel-control" href="#PostSlaider_2" data-slide="prev">
                    <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
                </a>

                <div class="carousel-inner">
                    <div class="post_images item active">
                        <div class="post_image 1">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 2">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 3">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 4">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 5">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                    </div>

                    <div class="post_images item">
                        <div class="post_image 1">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 2">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 3">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 4">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 5">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                    </div>
                </div>

                <a class="right carousel-control" href="#PostSlaider_2" data-slide="next">
                    <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
                </a>
            </div>

            <div class="name">
                <span>Сериалы</span>
            </div>
            <div id="PostSlaider_3" class="post carousel slide" data-interval="0">

                <a class="left carousel-control" href="#PostSlaider_3" data-slide="prev">
                    <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
                </a>

                <div class="carousel-inner">
                    <div class="post_images item active">
                        <div class="post_image 1">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 2">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 3">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 4">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 5">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                    </div>

                    <div class="post_images item">
                        <div class="post_image 1">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 2">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 3">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 4">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                        <div class="post_image 5">
                            <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                            <span>Дневник девочки-подростка</span>
                        </div>
                    </div>
                </div>

                <a class="right carousel-control" href="#PostSlaider_3" data-slide="next">
                    <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
                </a>
            </div>

        </div>

        <div class="popup-wrapper top right" style="left: 394px; top: 95px; display: block;">
            <div class="link-wrapper">
                <a href="#" class="">Описание</a>
                <span class="action-link-wrapper">
                    <a class="action-link">Смотреть позже</a>
                </span>
            </div>
            <div class="properties">
                <span class="feature" title="Видео доступно в HD-качестве">HD</span>
                <span class="feature" itemprop="datePublished" content="2015">2015</span>
                <span class="feature" itemprop="productionCountry" content="4">США</span>
                <span class="feature">Для детей</span>
                <time class="feature" itemprop="duration">8 мин.</time>
            </div>
            <ul class="main_ul">
                <li>
                    <strong>Рейтинги</strong>
                    <ul>
                        <li>6,7 КиноПоиск</li>,
                        <li>7,4 IMDb</li>
                    </ul>
                </li>
                <li>
                    <strong>Режиссеры</strong>
                    <ul>
                        <li>Жора Петровский</li>,
                        <li>Люся Бтр</li>
                    </ul>
                </li>
                <li>
                    <strong>В ролях</strong>
                    <ul>
                        <li>Жора Кардан</li>,
                        <li>Майкл Джексон</li>
                    </ul>
                </li>
            </ul>
            <div class="story-text">
                <p>Короткометражный мультик Disney, созданный по мотивам суперхита «Холодное сердце». В день рождения Анны Эльза решает сделать сестре сюрприз. Но устроить праздник оказывается не так-то просто.</p>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="footer_content">

        </div>
    </div>
</div>