@{
    ViewBag.Title = "Index";
}

<div id="wrapper">
    <div id="header">
        <div class="head_menu">
            <ul>
                <li>
                    <a class="main_page">Главная</a>
                </li>
                <li>
                    <a class="films">Фильмы</a>
                    <div class="dropdown_menu">
                        <i class="triangle"></i>
                        <ul class="sub-nav-col">
                            <li><a href="#">Артхаус</a></li>
                            <li><a href="#">Боевики</a></li>
                            <li><a href="#">Военные</a></li>
                            <li><a href="#">Детективы</a></li>
                            <li><a href="#">Для детей</a></li>
                            <li><a href="#">Для всей семьи</a></li>
                            <li><a href="#">Документальные</a></li>
                            <li><a href="#">Драмы</a></li>
                            <li><a href="#">Зарубежные</a></li>
                            <li><a href="#">Исторические</a></li>
                            <li><a href="#">Комедии</a></li>
                            <li><a href="#">Мелодрамы</a></li>
                            <li><a href="#">Приключения</a></li>
                            <li><a href="#">Русские</a></li>
                            <li><a href="#">Советское кино</a></li>
                            <li><a href="#">Триллеры</a></li>
                            <li><a href="#">Ужасы</a></li>
                            <li><a href="#">Фантастика</a></li>
                            <li><a href="#">Эротика</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="mfilms">Мультфильмы</a>
                    <div class="dropdown_menu"></div>
                </li>
                <li>
                    <a class="serials">Сериалы</a>
                    <div class="dropdown_menu"></div>
                </li>
                <li>
                    <a class="news">Новости</a>
                    <div class="dropdown_menu"></div>
                </li>
                <li>
                    <a class="desk">Стол заказов</a>
                </li>
                <li>
                    <a class="contacts">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="head_slaider">
                <img class="left_row" src="~/Images/left_row_slider.png" />
                <img class="slider-image" src="~/Images/slider-image.jpg" />
                <img class="right_row" src="~/Images/right_row_slider.png" />
            </div>
    </div>

    <div id="middle">
        <div class="content">
            <div class="name">
                <span>Фильмы</span>
            </div>
            <div class="post">
                <a><img class="left-side-arrow" src="~/Images/left_row_slider.png" /></a>
                <div class="post_images">
                    <div class="post_image 1">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 2">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 3">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 4">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 5">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                </div>
                <a><img class="right-side-arrow" src="~/Images/right_row_slider.png" /></a>
            </div>

            <div class="name">
                <span>Мультфильмы</span>
            </div>
            <div class="post">
                <a><img class="left-side-arrow" src="~/Images/left_row_slider.png" /></a>
                <div class="post_images">
                    <div class="post_image 1">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 2">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 3">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 4">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 5">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                </div>
                <a><img class="right-side-arrow" src="~/Images/right_row_slider.png" /></a>
            </div>

            <div class="name">
                <span>Сериалы</span>
            </div>
            <div class="post">
                <a><img class="left-side-arrow" src="~/Images/left_row_slider.png" /></a>
                <div class="post_images">
                    <div class="post_image 1">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 2">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 3">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 4">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                    <div class="post_image 5">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <span>Дневник девочки-подростка</span>
                    </div>
                </div>
                <a><img class="right-side-arrow" src="~/Images/right_row_slider.png" /></a>
            </div>
        </div>

    </div>

    <div id="footer">
        <div class="footer_content">

        </div>
    </div>
</div>