@{
    ViewBag.Title = "Index";
}

<div id="wrapper">
    <div id="header">
            <div class="head_menu">
                <ul>
                    <li><a class="main_page">Главная</a></li>
                    <li><a class="films">Фильмы</a></li>
                    <li><a class="mfilms">Мультфильмы</a></li>
                    <li><a class="serials">Сериалы</a></li>
                    <li><a class="news">Новости</a></li>
                    <li><a class="desk">Стол заказов</a></li>
                    <li><a class="contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="head_slaider">
                <img class="left_row" src="~/Images/left_row_slider.png" />
                <img class="slider-image" src="~/Images/slider-image.jpg" />
                <img class="right_row" src="~/Images/right_row_slider.png" />
            </div>
    </div>

    <div id="middle">
            <div class="content">
                <div class="name">
                    <span>Фильмы</span>
                </div>
                <div class="post">
                    <a><img class="left-side-arrow" src="~/Images/left_row_slider.png" /></a>
                    <div class="post_images">
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                        <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    </div>
                    <a><img class="right-side-arrow" src="~/Images/right_row_slider.png" /></a>
                </div>

                <div class="name">
                    <span>Мультфильмы</span>
                </div>
                <div class="post">
                    <a><img class="left-side-arrow" src="~/Images/left_row_slider.png" /></a>
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <a><img class="right-side-arrow" src="~/Images/right_row_slider.png" /></a>
                </div>

                <div class="name">
                    <span>Сериалы</span>
                </div>
                <div class="post">
                    <a><img class="left-side-arrow" src="~/Images/left_row_slider.png" /></a>
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                    <a><img class="right-side-arrow" src="~/Images/right_row_slider.png" /></a>
                </div>
            </div>

    </div>

    <div id="footer">
        <div class="footer_content">

        </div>
    </div>
</div>