@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Test.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>

<body>
<div id="header">
    <div class="head_content">
        <div class="site_logo">

        </div>
        <div class="head_search">

        </div>
        <div class="head_profile">

        </div>
        <div class="head_menu">
            <ul>
                <li><a class="main_page">Главная</a></li>
                <li><a class="films">Фильмы</a></li>
                <li><a class="mfilms">Мультфильмы</a></li>
                <li><a class="serials">Сериалы</a></li>
                <li><a class="news">Новости</a></li>
                <li><a class="desk">Стол заказов</a></li>
                <li><a class="contacts">Контакты</a></li>
            </ul>
        </div>
        <div class="head_slaider">
            <img class="left_row" src="~/Images/left_row_slider.png" />
            <img class="first_left_img" src="~/Images/limb.jpg" />
            <img class="second_left_img" src="~/Images/limb.jpg" />
            <img class="middle_img" src="~/Images/limb.jpg" />
            <img class="second_right_img" src="~/Images/limb.jpg" />
            <img class="first_right_img" src="~/Images/limb.jpg" />
            <img class="right_row" src="~/Images/right_row_slider.png" />
        </div>
    </div>
</div>

<div id="middle">
    <div class="middle_content">
        <div class="left_content">
            <div class="middle_menu">
                <h1>Панель навигаций</h1>
                <ul>
                    <li><a class="main_page">Главная</a></li>
                    <li><a class="films">Фильмы</a></li>
                    <li><a class="mfilms">Мультфильмы</a></li>
                    <li><a class="serials">Сериалы</a></li>
                    <li><a class="news">Новости</a></li>
                    <li><a class="desk">Стол заказов</a></li>
                    <li><a class="contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="right_content">
            <div class="post">
                <div class="name_rating">
                    <span>Дневник девочки-подростка (2015)</span>
                </div>
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" width="200" height="300" />
                <span>Сан-Франциско, 1970-е года. В жизни шестнадцатилетней Минни Герц произошли большие перемены, ведь она лишилась невинности, и это событие полностью перевернуло её внутренний мир. При этом её первым мужчиной стал мамин ухажёр Монро, который с недавних пор живёт вместе с ними. Это событие становится одним из самых знаменательных для Минни, и теперь она чувствует себя настоящей женщиной, которой интересуется противоположный пол. Всеми своими переживаниями и переменами героиня делится с лучшей подругой, которая имеет большой опыт...</span>
            </div>

            <div class="post">
                <div class="name_rating">
                    <span>Дневник девочки-подростка (2015)</span>
                </div>
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" width="200" height="300" />
                <span>Сан-Франциско, 1970-е года. В жизни шестнадцатилетней Минни Герц произошли большие перемены, ведь она лишилась невинности, и это событие полностью перевернуло её внутренний мир. При этом её первым мужчиной стал мамин ухажёр Монро, который с недавних пор живёт вместе с ними. Это событие становится одним из самых знаменательных для Минни, и теперь она чувствует себя настоящей женщиной, которой интересуется противоположный пол. Всеми своими переживаниями и переменами героиня делится с лучшей подругой, которая имеет большой опыт...</span>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="footer_content">

    </div>
</div>
</body>
</html>