body {
}

.category_content {
    overflow: hidden;
}

.post_category {
    width: 270px;
    float: left;
    text-align: center;
    padding: 10px;
}

.category_films {
    overflow: hidden;
    width: 93%;
    margin-left: 55px;
}

.advenced-search {
    overflow: hidden;
    font-size: 13pt;
}

#category {
    color: #05677c;
    font-size: 22pt;
}

#criterii {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    font-family: "Arial";
    color: rgb(60, 196, 248);
    margin-left: 187px;
}

.advenced-search ul {
    list-style: none;
    overflow: hidden;
    float: left;
    margin-top: 4px;
    margin-bottom: 5px;
}

    .advenced-search ul li {
        margin-right: 55px;
        float: left;
        height: 37px;
    }

.filter {
    position: relative;
}

    .filter i {
        position: absolute;
        background-image: url(../Images/filter-arrows.png);
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: 0px -9px;
        width: 10px;
        height: 8px;
        top: 10px;
        left: 65px;
    }

.sliding_div {
    width: 70%;
    height:40px;
    background-color: white;
    margin-top:-14px;
    margin-left:32px;
    font-size: 13pt;
    position: relative;
    visibility: hidden;
    z-index: 1;
}
   #genre_list {
    position: absolute;
    width:500px;
    height: 260px;
    background-color: white;
    top: 40px;
    visibility: hidden;
    font-size: 12pt;
}


.div_control {
    overflow:hidden;
    padding-top: 7px;
}

#genre{
    margin-left:25px;
    color: #83bf0a;
}

#genre_choice {
    position:relative;
      padding-left: 5px;
      overflow: hidden;
      padding-right: 5px;
      border-radius: 1px;
      border: 1px solid #bfbfbf;
      font-size: 12pt;
}

#year {
    color: #83bf0a;
    position: absolute;
    left:275px;
}

  .year_select1 {
      position: absolute;
      left: 29%;
      top:26%;
      background-color: #e9e9e9;
      padding-left: 5px;
      padding-right: 18px;
      border-radius: 5px;
  }

  .year_select2 {
      position: absolute;
      left: 37%;
      top:26%;
      background-color: #e9e9e9;
      padding-left: 5px;
      padding-right: 18px;
      border-radius: 5px;
  }

#raiting {
    position:absolute;
    left: 51%;
    color: #83bf0a;
}


#genres {
    list-style: none;
    padding-left: 25px;
    margin-top:1px;
    float:left;
    overflow: hidden;
    margin-right: 25px;
}

        #genres li{
            margin-bottom:10px;
        }

#genres2 {
    list-style: none;
    padding-left: 25px;
    margin-top:1px;
    float:left;
    overflow: hidden;
    margin-right: 50px;
}

        #genres2 li{
            margin-bottom:10px;
        }

#genres3 {
    list-style: none;
    padding-left: 25px;
    margin-top:1px;
    float:left;
    overflow: hidden;
}

        #genres3 li{
            margin-bottom:10px;
        }

#iskati {
    position:absolute;
    left: 900px;
    left:93%;
}

#rate1 {
    position: absolute;
    left: 720px;
    top:26%;
}

#rate2 {
    position: absolute;
    left: 770px;
    top:26%;
}

#rating_criteria {
    position: absolute;
    left: 625px;
    top:26%;
}

