body {
}

.category_content {
    overflow: hidden;
}

.post_category{
   width: 270px;
   float: left;
   text-align: center;
   padding: 10px;
}

.category_films {
    overflow: hidden;
    width: 93%;
    margin-left: 55px;
}
