.head_slaider {
    height: 520px;
    font-size: 0;
    position: relative;
    text-align: center;
    background: transparent;
}

    .head_slaider .control {
        width: 50px;
        z-index: 100;
        height: 80px;
        top: 220px;
        opacity: 0;
        margin-left: 100px;
        margin-right: 100px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: background-color 0.11s linear, opacity 0.11s linear;
        -moz-transition: background-color 0.11s linear, opacity 0.11s linear;
        -ms-transition: background-color 0.11s linear, opacity 0.11s linear;
        -o-transition: background-color 0.11s linear, opacity 0.11s linear;
        transition: background-color 0.11s linear, opacity 0.11s linear;
    }

    .head_slaider:hover > .control, .head_slaider:hover > .control i {
        opacity: 1;
    }

    .head_slaider .control:hover {
        background-color: #797979;
        background-color: rgba(0,0,0,0.5);
    }

    .head_slaider .control.left {
        background-image: none;
        background-repeat: no-repeat;
        filter: unset;
    }

    .head_slaider .control.right {
        background-image: none;
        background-repeat: no-repeat;
        filter: unset;
    }

    .head_slaider i.left_row {
        width: 25px;
        height: 40px;
        position: absolute;
        top: 20px;
        left: 10px;
        background-image: url(../Images/arrows.png);
        background-position: 0px 0px;
        background-size: 110px 40px;
        background-repeat: no-repeat;
        opacity: 0;
        -webkit-transition: opacity 0.11s linear;
        -moz-transition: opacity 0.11s linear;
        -ms-transition: opacity 0.11s linear;
        -o-transition: opacity 0.11s linear;
        transition: opacity 0.11s linear;
    }

    .head_slaider i.right_row {
        width: 25px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 10px;
        background-image: url(../Images/arrows.png);
        background-position: -30px 0px;
        background-size: 110px 40px;
        background-repeat: no-repeat;
        opacity: 0;
        -webkit-transition: opacity 0.11s linear;
        -moz-transition: opacity 0.11s linear;
        -ms-transition: opacity 0.11s linear;
        -o-transition: opacity 0.11s linear;
        transition: opacity 0.11s linear;
    }

    .head_slaider > .left {
        position: absolute;
        left: 0;
    }

    .head_slaider > .right {
        position: absolute;
        right: 0;
    }

    .head_slaider .inner {
        position: relative;
        overflow: hidden;
    }

        .head_slaider .inner > .item {
            position: relative;
            display: none;
            -webkit-transition: 0.6s ease-in-out left;
            transition: 0.6s ease-in-out left;
        }

        .head_slaider .inner > .active,
        .head_slaider .inner > .next,
        .head_slaider .inner > .prev {
            display: block;
        }

        .head_slaider .inner > .active {
            left: 0;
        }

        .head_slaider .inner > .next,
        .head_slaider .inner > .prev {
            position: absolute;
            top: 0;
            width: 100%;
        }

        .head_slaider .inner > .next {
            left: 100%;
        }

        .head_slaider .inner > .prev {
            left: -100%;
        }

            .head_slaider .inner > .next.left,
            .head_slaider .inner > .prev.right {
                left: 0;
            }

        .head_slaider .inner > .active.left {
            left: -100%;
        }

        .head_slaider .inner > .active.right {
            left: 100%;
        }
