.player {
    position: relative;
    max-height: 520px;
}

.controls {
    width: 100%;
    height: 34px;
    display: inline-block;
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: -39px;
    z-index: 1;
}

.left_controls {
    float: left;
}

    .left_controls div {
        float: left;
    }

.right_controls {
    float: right;
}

    .right_controls div {
        float: left;
    }

.fullscreen {
    z-index: 2147483647;
}

.play {
    width: 34px;
    height: 34px;
    cursor: pointer;
    margin-left: 40px;
    padding: 5px;
}

    .play .inner {
        width: 24px;
        height: 24px;
        background-image: url(../Images/play_pause.png);
        background-repeat: no-repeat;
        background-size: 24px;
    }

#play {
    background-position: 0px 0px;
}

#pause {
    background-position: 0px -30px;
}

.time_line {
    float: none;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 34px;
    cursor: pointer;
    background: #565860;
    -moz-transition: height .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: height .1s cubic-bezier(0.4,0.0,1,1);
    -ms-transition: height .1s cubic-bezier(0.4,0.0,1,1);
    transition: height .1s cubic-bezier(0.4,0.0,1,1);
}

    .time_line span {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        height: 100%;
        cursor: pointer;
    }

    .time_line:hover, .time_line.hover {
        height: 8px;
    }

        .time_line:hover > .current .indicator, .current .indicator.hover {
            -ms-transform: scale(1,1);
            -webkit-transform: scale(1,1);
            transform: scale(1,1);
        }

.loaded {
    width: 0;
    background: #7b7d82;
}

.current {
    width: 0;
    background-color: #83bf0a;
}

    .current .indicator {
        position: relative;
        float: right;
        background-color: #fff;
        width: 18px;
        height: 18px;
        border-radius: 10px;
        left: 8px;
        top: -5px;
        -ms-transform: scale(0,0);
        -webkit-transform: scale(0,0);
        transform: scale(0,0);
        -moz-transition: width, height .1s, .1s cubic-bezier(0.4,0.0,1,1);
        -webkit-transition: width, height .1s, .1s cubic-bezier(0.4,0.0,1,1);
        -ms-transition: width, height .1s, .1s cubic-bezier(0.4,0.0,1,1);
        transition: width, height .1s, .1s cubic-bezier(0.4,0.0,1,1);
    }

.time_hover {
    display: none;
    width: 122px;
    height: 52px;
    background-color: #1DB200;
    position: absolute;
    bottom: 50px;
    left: 0;
    -moz-border-radius: 4px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-image: url(../Images/panoram.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-top: 30px;
    border: 1px solid #fff;
    border-radius: 2px;
}

    .time_hover span {
        position: initial;
        display: initial;
    }

.show-time-line {
    display: none;
    position: absolute;
    width: 120px;
    height: 10px;
    bottom: 5px;
}

.movie_time {
    height: 34px;
    font-size: 12px;
    color: #fff;
    padding: 9px 0;
}

.volume {
    width: 34px;
    height: 34px;
    cursor: pointer;
    margin-left: 20px;
    padding: 5px;
}

    .volume .inner {
        width: 24px;
        height: 25px;
        background-image: url(../Images/volume.png);
        background-size: 24px;
        background-repeat: no-repeat;
    }

#volume_100 {
    background-position: 0px 0px;
}

#volume_66 {
    background-position: 0px -24px;
}

#volume_33 {
    background-position: 0px -48px;
}

#muted {
    background-position: 0px -72px;
}

.volume_bar {
    height: 34px;
    padding: 14px 0;
    margin-left: 5px;
    margin-right: 12px;
    cursor: pointer;
}

    .volume_bar .volume_outer {
        width: 0;
        height: 5px;
        background-color: #565860;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-transition: width .2s cubic-bezier(0.4,0.0,1,1);
        -webkit-transition: width .2s cubic-bezier(0.4,0.0,1,1);
        transition: width .2s cubic-bezier(0.4,0.0,1,1);
    }

    .volume_bar .volume_inner {
        background-color: #83bf0a;
        width: 100%;
        height: 100%;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

.ui-slider-range {
    width: 100%;
    overflow: hidden;
    position: absolute;
    border-top-width: 0;
    background: #90d26a;
    background: -webkit-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -moz-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -o-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -ms-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: linear-gradient(top, #90d26a 0%, #228B22 100%);
    bottom: 0;
    height: 100%;
    border-radius: 4px;
}

.options {
    width: 34px;
    height: 34px;
    cursor: pointer;
    padding: 5px;
    margin-right: 20px;
}

    .options .inner {
        width: 24px;
        height: 24px;
        background-image: url(../Images/options.png);
        background-repeat: no-repeat;
        background-size: 24px;
    }

.fullscreen_btn {
    width: 34px;
    height: 34px;
    cursor: pointer;
    padding: 5px;
    margin-right: 40px;
}

    .fullscreen_btn .inner {
        width: 24px;
        height: 24px;
        background-image: url(../Images/fullscreen.png);
        background-repeat: no-repeat;
        background-size: 24px;
    }

#enter {
    background-position: 0px 0px;
}

#exit {
    background-position: 0px -30px;
}

.play_poster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-image: url(../Images/play_poster.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .85;
    visibility: visible;
    transition: opacity, visibility .11s, .11s ease-out;
}

    .play_poster:hover {
        opacity: 1;
    }

video::-webkit-media-controls-enclosure {
    display: none !important;
}

.hide_cursor {
    cursor: none;
}
