#Player {
    max-height: 520px;
    background-image: url(../Images/slidebg.png);
}

.controls {
    width: 100%;
    height: 46px;
    display: inline-block;
    background-color: black;
    position: relative;
    bottom: 51px;
    z-index: 1;
}

.left_controls {
    float: left;
}

.right_controls {
    float: right;
}

.left_controls div {
    float: left;
}

.fullscreen_controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2147483647;
}

.play {
    width: 34px;
    height: 34px;
    background-image: url(../Images/play.png);
    background-size: cover;
    cursor: pointer;
    margin-left: 40px;
}

.pause {
    background-image: url(../Images/pause.png) !important;
}

.time_line {
    float: none;
    position: relative;
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #565860;
}

    .time_line span {
        position: absolute;
        top: 0;
        left: 0px;
        display: block;
        height: 12px;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

.loaded {
    width: 0;
    background: #7b7d82;
}

.current {
    width: 0;
    background: #90d26a;
    background: -webkit-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -moz-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -o-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -ms-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: linear-gradient(top, #90d26a 0%, #228B22 100%);
}

.time_hover {
    display: none;
    width: 120px;
    height: 50px;
    background-color: #1DB200;
    position: absolute;
    bottom: 21px;
    left: 0;
    -moz-border-radius: 4px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-image: url(../Images/HarryPotter.png);
    background-repeat: no-repeat;
    background-size: 1200px 5500px;
    background-position: 0px 0px;
    padding-top: 30px;
}

    .time_hover span {
        position: initial;
        display: initial;
    }

.movie_time {
    height: 34px;
    font-size: 12px;
    color: #fff;
    padding: 9px 0;
}

.volume {
    width: 34px;
    height: 34px;
    background-image: url(../Images/volume_100.png);
    cursor: pointer;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: 20px;
}

#volume_100 {
    background-image: url(../Images/volume_100.png) !important;
}

#volume_66 {
    background-image: url(../Images/volume_66.png) !important;
}

#volume_33 {
    background-image: url(../Images/volume_33.png) !important;
}

#muted {
    background-image: url(../Images/volume_muted.png) !important;
}

.volume_bar {
    height: 34px;
    padding: 14px 0;
    margin: 0 14px;
    cursor: pointer;
}

    .volume_bar .volume_outer {
        width: 0;
        height: 5px;
        background-color: #565860;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-transition: width .2s cubic-bezier(0.4,0.0,1,1);
        -webkit-transition: width .2s cubic-bezier(0.4,0.0,1,1);
        transition: width .2s cubic-bezier(0.4,0.0,1,1);
    }

    .volume_bar .volume_inner {
        background-color: #83bf0a;
        width: 33%;
        height: 100%;
    }

.ui-slider-range {
    width: 100%;
    overflow: hidden;
    position: absolute;
    border-top-width: 0;
    background: #90d26a;
    background: -webkit-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -moz-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -o-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: -ms-linear-gradient(top, #90d26a 0%, #228B22 100%);
    background: linear-gradient(top, #90d26a 0%, #228B22 100%);
    bottom: 0;
    height: 100%;
    border-radius: 4px;
}

.fullscreen_btn {
    width: 34px;
    height: 34px;
    background-image: url(../Images/fullscreen.png);
    cursor: pointer;
    background-size: cover;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

.hide_cursor {
    cursor: none;
}
