body {
    font-family: 'PF DinDisplay','Trebuchet MS',Arial !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333 !important;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h3, .h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: all .11s ease-out;
}

    a:hover {
        color: #83bf0a !important;
        text-decoration: none !important;
        outline: 0;
    }

    a:active {
        outline: 0;
    }

    a:focus {
        outline: none !important;
        color: #83bf0a !important;
        text-decoration: none !important;
        outline-offset: unset !important;
    }

    a:visited {
        text-decoration: none !important;
    }

h1, h2, h3 {
    color: #333 !important;
}

button {
    cursor: pointer;
}

#wrapper {
    margin: auto;
    background: #f2f2f2;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,0.3);
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

#header {
    background: rgba(0,0,0,1);
    padding-top: 50px;
}

.head_menu {
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 50px;
    background: #201f25;
    background: rgba(0,0,0,1);
}

    .head_menu::before, .head_menu::after {
        display: block;
        content: " ";
        line-height: 0;
    }

    .head_menu .logo {
        float: left;
        display: block;
        margin: 16px 70px;
        width: 120px;
        height: 18px;
        background-image: url("http://megogo.net/s/css/v3/img/mgg-logo.png");
        background-repeat: no-repeat;
        background-size: 120px 400px;
        text-indent: -99999px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.11s ease-out;
    }

        .head_menu .logo:hover {
            opacity: 0.7;
        }

    .head_menu .menu_btn {
        float: left;
        width: 113px;
        height: 50px;
        padding: 15px 20px 15px 20px;
        cursor: pointer;
        transition: background-color 0.11s ease-out;
    }

        .head_menu .menu_btn:hover {
            background-color: #fff;
        }

            .head_menu .menu_btn:hover > i.icon-hover {
                opacity: 1;
            }

            .head_menu .menu_btn:hover > span {
                color: #83bf0a;
            }

        .head_menu .menu_btn i {
            position: absolute;
            width: 20px;
            height: 18px;
            background-image: url("http://megogo.net/s/css/v3/img/megogo-tv/icon-list-16x12.png");
            background-size: 60px 20px;
            background-repeat: no-repeat;
            transition: opacity 0.11s ease-out;
        }

            .head_menu .menu_btn i.icon-default {
                background-position: 0px 0px;
            }

            .head_menu .menu_btn i.icon-hover {
                background-position: -40px 0px;
                opacity: 0;
            }

        .head_menu .menu_btn span {
            color: #fff;
            margin-left: 30px;
            font-size: 16px;
            font-weight: 600;
            transition: color 0.11s ease-out;
        }

        .head_menu .menu_btn:hover > .dropdown_menu {
            visibility: visible;
            opacity: 1;
        }

    .head_menu .dropdown_menu {
        position: absolute;
        visibility: hidden;
        width: 200px;
        top: 50px;
        left: 0px;
        background: #fff;
        z-index: 800;
        opacity: 0;
        filter: alpha(opacity=0);
        -o-transition: opacity, visibility 0.11s, 0.11s ease-out;
        transition: opacity, visibility 0.11s, 0.11s ease-out;
        -webkit-box-shadow: 0 1px 2px -1px #777;
        -moz-box-shadow: 0 1px 2px -1px #777;
        box-shadow: 1px 1px 1px -1px #777;
        cursor: auto;
    }

        .head_menu .dropdown_menu ul {
            list-style: none;
            padding: 0;
            margin: 20px 0;
        }

            .head_menu .dropdown_menu ul li {
                height: 30px;
                line-height: 30px;
                margin: 10px 0;
                font-size: 14px;
                letter-spacing: .3px;
                font-weight: 400;
                text-transform: none;
                color: #000;
                cursor: pointer;
                transition: background-color 0.11s ease-out;
            }

                .head_menu .dropdown_menu ul li:hover {
                    background-color: #f9f9f9;
                }

                .head_menu .dropdown_menu ul li a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 0 20px;
                }

    .head_menu .search {
        position: relative;
        float: left;
        padding: 12px;
    }

        .head_menu .search input {
            width: 600px;
            padding: 1px 10px 1px 35px;
            height: 26px;
            border: none;
            font-size: 16px;
            transition: box-shadow .11s ease-out;
            border-radius: 14px;
        }

            .head_menu .search input:focus {
                outline: none !important;
                box-shadow: 0px 0px 10px #fff;
            }

        .head_menu .search .search-img {
            position: absolute;
            width: 16px;
            height: 26px;
            outline: 0;
            background-color: transparent;
            background-image: url(../Images/search.png);
            background-repeat: no-repeat;
            background-position: 50%;
            top: 12px;
            left: 23px;
        }

        .head_menu .search .search-btn:hover {
            background-color: #f0f0f0;
        }

    .head_menu .profile {
        display: none;
        float: right;
        white-space: nowrap;
        line-height: 50px;
        height: 50px;
        overflow: hidden;
        padding: 0 10px;
        color: #fff;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
    }

        .head_menu .profile:hover {
            background-color: #fff;
            color: #83bf0a;
        }

        .head_menu .profile div {
            padding-right: 10px;
            display: inline-block;
            vertical-align: top;
        }

        .head_menu .profile img {
            display: inline-block;
            vertical-align: top;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            margin: 10px 0;
        }

    .head_menu .profile_enter {
        float: right;
        white-space: nowrap;
        line-height: 50px;
        height: 50px;
        overflow: hidden;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
    }

        .head_menu .profile_enter a {
            color: #fff;
            margin-right: 20px;
        }

.track {
    margin-bottom: 40px;
    font-size: 12px;
    margin-left: -2px;
}

    .track ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .track ul li {
            float: left;
            margin-left: 1px;
        }

    .track a {
        margin-right: 2px;
        margin-left: 2px;
    }


#middle {
    position: relative;
    background-color: #eae9ef;
    z-index: 2;
    min-height: 500px;
    padding: 20px;
}

.content h1 {
    margin-top: 0;
    color: white;
}

.name {
    display: inline;
    /* background-color: #121212; */
    padding: 10px;
    margin-left: 40px;
}

    .name a {
        font: bolder 24px Arial;
        color: #333;
    }

.post {
    min-height: 400px;
    /* background-color: #121212; */
    /* padding: 20px; */
    /* padding-top: 0px; */
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px dotted #afaeb4;
}

    .post .left-side-arrow {
        position: absolute;
        top: 20px;
        left: 10px;
        width: 25px;
        height: 40px;
        background-image: url(../Images/arrows.png);
        background-position: -58px 0px;
        background-size: 110px 40px;
        background-repeat: no-repeat;
    }

    .post .carousel-control:hover > .left-side-arrow {
        background-position: 0px 0px;
    }

    .post .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 400px;
        width: 1415px;
        margin-left: 70px;
        margin-right: 0px;
    }

    .post .right-side-arrow {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 25px;
        height: 40px;
        background-image: url(../Images/arrows.png);
        background-position: -85px 0px;
        background-size: 110px 40px;
        background-repeat: no-repeat;
    }

    .post .carousel-control:hover > .right-side-arrow {
        background-position: -30px 0px;
    }

    .post .carousel-control {
        width: 50px;
        z-index: 100;
        height: 80px;
        top: 120px;
        opacity: 1;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: background-color 0.11s linear, opacity 0.11s linear;
        -moz-transition: background-color 0.11s linear, opacity 0.11s linear;
        -ms-transition: background-color 0.11s linear, opacity 0.11s linear;
        -o-transition: background-color 0.11s linear, opacity 0.11s linear;
        transition: background-color 0.11s linear, opacity 0.11s linear;
    }

        .post .carousel-control:hover {
            opacity: 1;
            filter: alpha(opacity=100);
            background-color: #797979;
            background-color: rgba(0,0,0,0.5);
        }

        .post .carousel-control.left {
            background-image: none;
            background-repeat: no-repeat;
            filter: unset;
        }

        .post .carousel-control.right {
            background-image: none;
            background-repeat: no-repeat;
            filter: unset;
        }

.post_images {
    /* height: 312px; */
    /* width: 1010px; */
    /* margin-left: 55px; */
    /* margin-right: 55px; */
}

    .post_images .last {
        margin-right: 0;
    }

.post_image {
    position: relative;
    width: 215px;
    float: left;
    margin-right: 25px;
    font-size: 13px;
    text-align: center;
    color: #a8a8a8 !important;
    margin-bottom: 20px;
}

    .post_image .movie-name {
        color: #333;
        font-size: 16px;
        font-weight: 600;
        transition: color .11s ease-out;
    }

    .post_image:hover > .movie-name {
        color: #83bf0a;
    }

    .post_image img {
        width: 215px;
        height: 305px;
        border-radius: 3px;
    }

    .post_image:hover > .image::after {
        opacity: 1;
    }

    .post_image .image {
        position: relative;
        height: 305px;
        margin-bottom: 5px;
    }

        .post_image .image::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: rgba(0,0,0,0.7);
            background-image: url(../Images/play_poster.png);
            background-size: 70px;
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 3px;
            opacity: 0;
            transition: opacity .11s ease-out;
        }

    .post_image a {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

#footer {
    overflow: hidden;
    background: rgba(0,0,0,1);
}

.foot_menu {
    list-style: none;
    margin-left: 100px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b8b8b8;
}

    .foot_menu li {
        float: left;
        margin-right: 60px;
    }

        .foot_menu li:hover {
            border-bottom: 1px solid #51ac00;
            line-height: normal;
        }

.account_popup {
    display: none;
    position: fixed;
    top: 0;
    right: -20px;
    bottom: 0;
    left: 0;
    z-index: 1002;
    -webkit-overflow-scrolling: touch;
    margin-left: -20px;
    outline: 0;
    overflow: auto;
    overflow-y: scroll;
}

    .account_popup .account {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 390px;
        border: 1px solid transparent;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #f2f2f2;
        background-clip: padding-box;
        outline: 0;
    }

        .account_popup .account .account_header {
            margin: 35px 40px;
        }

            .account_popup .account .account_header span {
                line-height: 24px;
                font-size: 24px;
                font-weight: normal;
            }

            .account_popup .account .account_header .close {
                float: right;
                width: 24px;
                height: 24px;
                background-image: url("http://megogo.net/s/css/v3/img/megogo-films/icon-close-24x24.png");
                background-size: 90px 30px;
                opacity: 1;
                filter: alpha(opacity=100);
                -webkit-transition: opacity .2s;
                -moz-transition: opacity .2s;
                -ms-transition: opacity .2s;
                -o-transition: opacity .2s;
                transition: opacity .2s;
                background-position: -33px -3px;
                cursor: pointer;
            }

        .account_popup .account .account_middle {
            margin: 10px 40px;
        }

            .account_popup .account .account_middle .form-control {
                position: relative;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .account_popup .account .account_middle .form-control {
                display: block;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 12px 10px;
                border: 1px solid #ddd;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                width: 100%;
                height: 45px;
                background-color: #fff;
                background-image: none;
                -webkit-transition: border-color .2s;
                -moz-transition: border-color .2s;
                -ms-transition: border-color .2s;
                -o-transition: border-color .2s;
                transition: border-color .2s;
                line-height: 20px;
                font-size: 16px;
                color: #333333;
            }

                .account_popup .account .account_middle .form-control:focus {
                    border-color: #83bf0a;
                    outline: 0;
                }

            .account_popup .account .account_middle .form_submit {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                outline: 0;
                margin: 0;
                border-width: 0;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                text-align: center;
                line-height: 20px;
                font-family: 'PF DinDisplay','Trebuchet MS',Arial;
                font-size: 16px;
                text-decoration: none;
                -webkit-transition: opacity .2s;
                -moz-transition: opacity .2s;
                -ms-transition: opacity .2s;
                -o-transition: opacity .2s;
                transition: opacity .2s;
                font-weight: 600;
                background-color: #83bf0a;
                color: #fff;
                display: block;
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 12px 0 10px;
                width: 100%;
                opacity: 0.8;
                filter: alpha(opacity=80);
                cursor: pointer;
            }

                .account_popup .account .account_middle .form_submit:hover {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }

.remember_me {
    display: inline-block;
    cursor: pointer;
}

    .remember_me input[type="checkbox"] {
        margin-top: 1px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
    }

.bg-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    z-index: 500;
    background: #000;
}

.no_scroll {
    overflow: hidden;
}
