body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../Images/body.jpg);
    background-repeat: repeat-x;
    background-color: #0E0E0E !important;
    color: #A1ACB4 !important;
}

    body a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

        body a:hover {
            color: #51ac00;
            text-decoration: none;
        }

        body a:focus {
            outline: none;
            color: #51ac00;
            text-decoration: none;
            outline-offset: unset;
        }

        body a:visited {
            text-decoration: none;
        }

#wrapper {
    width: 1130px;
    margin: auto;
}

#change {
    height: 33px;
}

#header video{
    width: 1130px;
    height: 580px;
}

.head_content {
    margin: auto;
}

.head_menu {
    position: fixed;
    top: -3px;
    z-index: 101;
}

    .head_menu > ul {
        background: url(../Images/menu-fon.png) 0 0 no-repeat;
        background-size: 1130px 36px;
        height: 36px;
        list-style: none;
        text-align: center;
        padding: 0;
    }

        .head_menu > ul > li {
            float: left;
            width: 162px;
        }

            .head_menu > ul > li:first-child a {
                background: none;
                border-radius: 3px 0 0 3px;
                -mos-border-radius: 3px 0 0 3px;
                -webkit-border-radius: 3px 0 0 3px;
            }

            .head_menu > ul > li:last-child > a {
                border-radius: 0 3px 3px 0;
                -mos-border-radius: 0 3px 3px 0;
                -webkit-border-radius: 0 3px 3px 0;
            }

            .head_menu > ul > li > a {
                display: block;
                background: url(../Images/line_menu.png) left 1px no-repeat;
                background-size: 3px 35px;
                font: bolder 12px Arial;
                color: #000;
                line-height: 36px;
            }

                .head_menu > ul > li > a:hover, .hover {
                    background-image: url(../Images/line_menu.png), url(../Images/menu-activ.png) !important;
                    background-size: 3px 35px, 6px !important;
                    background-position: left 1px, left 1px !important;
                    background-repeat: no-repeat, repeat-x !important;
                    color: #fff !important;
                }

            .head_menu > ul > li:first-child > a:hover {
                background: url(../Images/menu-activ.png) left 1px repeat-x !important;
            }

.menu_hover {
    background: url(../Images/line_menu_inverted.png) right center no-repeat !important;
}

.dropdown_menu {
    display: none;
    margin-left: 3px;
    position: absolute;
    z-index: 1001;
    background: rgb(32,32,32);
    top: 36px;
    font-size: 14px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .dropdown_menu ul li {
        position: relative;
        padding: 0 24px;
        margin: 0 0 10px;
        word-break: break-all;
    }

        .dropdown_menu ul li a {
            background: linear-gradient(to top, #51ac00, #51ac00) no-repeat bottom center;
            background-size: 0 2px;
            background-position: 50% 15px;
            transition: 0.1s;
        }

            .dropdown_menu ul li a:hover {
                background-size: 100% 2px;
            }

.track {
    margin-bottom: 40px;
    color: white;
    font-size: 12px;
    margin-left: -2px;
}

    .track ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .track ul li {
            float: left;
            margin-left: 1px;
        }

    .track a {
        color: white;
        margin-right: 2px;
        margin-left: 2px;
    }


#middle {
    position: relative;
    background-color: #171717;
    z-index: 2;
}

.content {
    min-height: 500px;
    padding: 20px;
}

    .content h1 {
        margin-top: 0;
        color: white;
    }

.name {
    display: inline;
    background-color: #121212;
    padding: 10px;
}

    .name span, .name a {
        font: bolder 15px Arial;
        color: #fff !important;
    }

.post {
    min-height: 352px;
    background-color: #121212;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

    .post .left-side-arrow {
        position: absolute;
        left: 0;
        top: 150px;
        width: 25px;
        height: 35px;
    }

    .post .right-side-arrow {
        position: absolute;
        right: 0;
        top: 150px;
        width: 25px;
        height: 35px;
    }

    .post .carousel-control {
        width: 40px;
        z-index: 100;
    }

        .post .carousel-control.left {
            background-image: none;
            background-repeat: no-repeat;
            filter: unset;
        }

        .post .carousel-control.right {
            background-image: none;
            background-repeat: no-repeat;
            filter: unset;
        }

.post_images {
    height: 312px;
    width: 1010px;
    margin-left: 25px;
}

.post_image {
    width: 192px;
    height: 312px;
    float: left;
    padding: 10px;
    margin-right: 10px;
    font-size: 13px;
    text-align: center;
}

    .post_image:hover {
        background-color: white;
    }

    .post_image img {
        width: 172px;
        height: 264px;
    }

.image {
    position: relative;
    height: 264px;
    margin-bottom: 10px;
}

.post_image:hover > .image::after {
    content: 'Смотреть бесплатно';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    background-image: url(../Images/play_poster_hover.png);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #1DA331;
    padding-top: 140px;
}

.post_image span {
    margin-top: 10px;
    color: #a8a8a8;
}

.sub-nav-col {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    text-align: left;
    float: left;
}

.sub_div_menu {
    float: left;
    text-align: left;
}

    .sub_div_menu:first-child {
        margin-bottom: 0px;
    }

    .sub_div_menu ul {
        padding-left: 1px;
        list-style: none;
        padding-top: 10px;
    }


#element_list li {
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
}

#element_list span {
    margin-left: 30px;
    color: #a8a8a8;
}

.social img {
    width: 27px;
    height: 27px;
}

.social li {
    margin-bottom: 10px;
}


.foot_menu {
    list-style: none;
    margin-left: 100px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b8b8b8;
}

    .foot_menu li {
        float: left;
        margin-right: 60px;
    }

        .foot_menu li:hover {
            border-bottom: 1px solid #51ac00;
            line-height: normal;
        }

#search {
    background: url(../Images/line_menu.png) left 1px no-repeat;
    line-height: 36px;
}
